<div class="wrapper <%= @weather %>">
	<div class="info">
		<p id="intro">The weather in <span id="location"><%= @location %></span> is...</p>
		<p id="weather"><%= @weather %></p>
		<p><a href="/">Try Again?</a></p>
	</div>
</div>
