@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Cabin+Sketch:700);

body {
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #E8FFFF;
	background-repeat: no-repeat;
}
div {
	text-align: center;
	font-size: 150%;
	font-family: 'Fredoka One', sans-serif;
	top: 50%;
	bottom: 50%;
}

#temp {
	font-size: 75%;
}

#weather {
	font-size: 200%;
	font-family: 'Cabin Sketch';
}
